# App
API_PORT=4000
SERVER_PREFIX=server
GLOBAL_PREFIX=api

# Database
MONGO_URL=

# Logging
ENABLE_FILE_LOGGER=true

# jwt
JWT_SECRET=thanhtam123
ACCESS_TOKEN_EXPIRE_IN=14d

# OTP
OTP_LENGTH=6
RESET_PASSWORD_OTP_EXPIRE=300 # 5s

# MAILER
MAIL_HOST="smtp.ethereal.email"
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
DEFAULT_MAIL_FROM="vnlogic@gmail.com"