<hr>
<p>Hello {{name}},</p>
<p><strong>{{code}}</strong> is your verification code to reset your password</p>
<p>Your verification code will expire after {{expire_time}} minutes.</p>
<p>Thank you for your cooperation!</b></p>
<p></b></p>
<hr>
<p>MY TEAM</p>
